<iframe
  class="w-full h-full absolute aspect-auto h-screen"
  src="https://www.youtube.com/embed/watch?v=0KozfDYK1EU&list=RD0KozfDYK1EU&start_radio=1&autoplay=1&mute=1&loop-1&controls=0"
  frameborder="0"
></iframe>

<div class="h-screen bg-white">
  <div
    class="pt-[15%] px-24 absolute h-full text-white bg-gradient-to-r from-black"
  >
    <h1 class="text-6xl font-bold">Dagabaaz Re</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, labore!
      Distinctio amet doloribus ratione nulla, necessitatibus dignissimos
      voluptates aspernatur quae.
    </p>

    <div>
      <button
        class="bg-white text-black py-2 px-8 text-xl rounded-lg hover:bg-opacity-70"
      >
        Play
      </button>
      <button
        class="mx-2 bg-gray-500 text-white py-2 px-8 text-xl rounded-lg bg-opacity-50"
      >
        more info
      </button>
    </div>
  </div>
</div>
